body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Asegura que toda la página ocupe toda la altura */
html, body, #root {
  height: 100%;
}

/* Fondo de la página */
body {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contenedores centrales */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Mejorar la apariencia de los enlaces */
a {
  color: #4caf50;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: #388e3c;
}
